input {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 20px;
  padding: 0 24px;
  border-radius: 32px;
  border: 2px solid var(--blue-dark);
  height: 64px;
  width: 100%;
  background-color: transparent;

  &::placeholder {
    color: var(--blue-dark);
  }
}

.primary input:hover,
.secondary input:hover {
  border-color: var(--pink);
}

.primary input:focus,
.secondary input:focus {
  border-color: var(--pink);
  outline: none;
}

.primary input {
  background-color: transparent;
}

.secondary input {
  border-color: var(--gray-light);
}

.inputContainer {
  width: 100%;
  position: relative;
}

.iconContainer {
  position: absolute;
  top: 20px;
  right: 40px;
}
